.featured-content{
    height: 50vh;
    padding: 50px;
}

.featured-title{
    width: 200px;
}

.featured-desc{
    width: 500px;
    color:lightgray;
    margin: 30px 0px;
}

.featured-button{
    background-color: #00acc1;
    color:white;
    padding: 10px 20px;
    border-radius: 10px;
    border:none ;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.featured-button:hover {
    background-color: #007180; 
}

.movie-list-container{
    padding: 20px;
}

.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}
 
.movie-list{
    display: flex;
    align-items: center ;
    height: 400px;
    transform: translateX(0);
    transition: all 1s ease-out;
}

.movie-list-item{
    margin-right: 30px;
    position: relative;
}
 
.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title, .movie-list-item:hover .movie-list-item-desc, .movie-list-item:hover .movie-list-item-button{
    opacity: 1;
}

.movie-list-item-img{
    transition: all 1s ease-in-out;
    width: 200px;  
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.movie-list-item-title{
    padding: 0px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 20px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.movie-list-item-desc{
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 15px;
    width: 200px;
    opacity: 0;
    transition: 1s all ease-in-out;
}


.movie-list-item-button{
    padding: 10px;
    background-color: #00acc1;
    border-radius: 10px;
    color:  white;
    border:none ;
    outline: none;
    cursor: top;
    position: absolute;
    bottom: 60px;
    left: 30px;
    width:70px; 
    opacity: 0;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.movie-list-item-button:hover {
    background-color: #007180; 
}

.arrow{
    font-size: 100px;
    position: absolute;
    top: 150px;
    right: 0px;
    color: lightgray ;
    opacity: o.5;
    cursor: pointer;
}

.content-container.active{
    background-color: white;
    color: black;
}

@media only screen and (max-width: 768px){
}