*{
    margin: 0;
}

.content-container{
    width: 100%;
}

.container-profile-box {
    background-image: url('profile-bg.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: white;
}

.container-profile-box-blurr{
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(50px); 
}

.profile-content{
    width: 100%;
    height: 500px;

    display: flex;
    justify-content: center;
} 

/* ----------- profile info box -----------*/
.profile-info{
    width: 100%;
    height: 150px;
    display: flex;
}

.info-title{
    flex: 2;
    justify-content: flex-start;
    margin: 80px 0 0 80px;
    padding-left: 5px;
}

.info-title p{
    margin-top: 5px;
}

.info-links{
    flex: 4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    margin: 0 80px 0 0;

}

.links-item{
    width: 150px;
    height: 50px;
    right: 0;
    text-align: center;

    font-size: 16px;
    font-weight: bold;
}

.links-item i{
    padding-top: 8px;
}

.goldstar{
    color: goldenrod;
    margin-right: 5px;
}

.bluestar{
    color: #0066ff;
    margin-right: 5px;
}

.trend{
    color: #2eb82e;
    margin-right: 5px;
}

/* ----------- profile psoter box -----------*/

.profile-content-poster{
    background-color: antiquewhite  ;
    width: 300px ;
    height: 459px;

    background-image: url(poster.jpg);
    background-repeat: no-repeat;
    margin: 10px 0 0 20px;

    border-radius: 0 20px 20px 20px;
}

.profile-content-trailer {
    height: 459px;
    margin: 15px 0 0 30px;
    border-radius: 0 20px 20px 20px;
}


/* ----------- profile desc box -----------*/

.profile-desc{
    width: 100%;
    height: 400px;

    display: flex;
    flex-direction: row;
}

.desc-box{
    width: 650px;
    height: 350px ;
}
.desc-box1{
    width: 800px;
    margin:0 0 0 100px;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 20px;
}

.genre{
    margin-right: 10px;
    padding: 3px 10px 0 10px;      
    height: 25px;
    text-align: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    border: 1px solid white ;
    border-radius: 50px;
}

.desc-items{
    font-size: 18px;
    font-weight: bold;
    width: 750px;
    height: 70px;
    margin: 20px 0 15px 0;
    padding: 5px 0 5px 0;
    text-align: left;
}

.ditem{
    height: 30px;
    line-height: 30px;
    border-top: 1px  solid white;

    display: flex;
    flex-direction: row;
}

.ditem p{
    margin-right: 20px;
}

.ditem a{
    margin-right: 10px;
    color: #0066ff;;
}


.desc-box2{
    width: 430px;
    margin-left: 100px;
    font-size: 15px;
}

.desc-box2-item{
    width: 100%;
    height: 70px;
    margin: 20px 0 30px 0  ;
    
    
}

.box2-button{
    width: 100%;
    height: 70px;
    
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: bold;

    border-radius: 50px;
}

.box2-button1{
    background-color: #00acc1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.fa-plus, .fa-eye{
    padding: 0 10px 0 30px;
}

.box2-button1:hover{
    background-color: #007180;
    transition: 0.3s ease-in-out;
}

.box2-button2{
    background-color: transparent;
    cursor: pointer;
    box-shadow: inset 0 0 0 2px goldenrod;
    transition: 0.3s ease-in-out;
}

.box2-button2:hover{
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    transition: 0.3s ease-in-out;
}

.desc-box3-item{
    display: flex;
    flex-direction: column;
    color: goldenrod;
    font-size: 20px;
}

.box3-item1{
    display: flex;
    flex-direction: row;
}
.box3-item2{
    display: flex;
    flex-direction: row;
}

.desc-box3-item p{
    font-weight: bold;
    margin: 0 3px 5px 15px;
}

/* ----------- profile ccast box -----------*/
.container-cast{
    background-color: white;
    width: 100%;
    height: 1000px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-cast-list{
    width: 800px;
    height: 750px;
    margin: 30px 50px 0 0;

    display: flex;
    flex-direction: row;
}

.cast-list{
    width: 50%;
    height: 700px;
    margin: 10px;
}

.list-title {
    width: 100%;
    height: 50px;
    box-shadow: inset 10px 0 0 0 goldenrod;
    text-align: left;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #151515;
    margin-bottom: 30px;
}

.list-title2{
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    box-shadow: inset 0 0 0 0 goldenrod;
}

.list-title p{
    margin-left: 20px;
}

.list {
    margin: 50px 0 80px 0;
    width: 100%;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
    color: #151515;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-profile-pic {
    height: 150px;
    width: 100px;
    border-radius: 10%;
    margin: 0 0 0 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden; 
}

.list-profile-pic img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
}

.list-profile-info{
    width: 260px;
    height: 100px;
    margin: 0 0 0 10px;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p-title{
    cursor: pointer;
}
.p-title:hover{
    color: #404040;
}

.p-sub-title{
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    margin-top: 5px;
    color: #4d4d4d;
}

.p-sub-title:hover{
    text-decoration: underline;
}

/* ----------- profile trivia box -----------*/
.container-cast-trivia{
    width: 500px;
    height: 750px;
    margin: 30px 50px 0 0;

    display: flex;
    flex-direction: column;
}

.trivia-top{
    width: 100%;
    height: 50px;
    box-shadow: inset 10px 0 0 0 goldenrod;
    text-align: left;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #151515;
    margin-bottom: 30px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trivia-top p{
    margin-left: 20px;
}

.trivia-submit{
    font-size: 16px;
    font-weight: normal;
    width: 220px;
    height: 40px;
    display: flex;
    flex-direction: row ;

    justify-content: center;
    align-items: center;
    border-radius: 50px;

    margin-left: 150px;
    border: 1.5px solid #151515;

    cursor: pointer;
}

.trivia-submit i {
    margin-left: 10px;
    margin-right: 10px;
}

.trivia-submit:hover {
    border: 1.5px solid #0066ff;
    color: #0066ff;
}

.trivia-bottom{
    width: 95%;
    height: 150px;
    margin-left: 12px;

    font-size: 18px;
    color: #151515;
}


/* -------------------- Awards --------------------  */

.awards{
    width: 100%;
    height: 100px;
    padding: 20px 20px 20px 20px;
    border-radius: 20px ;
    font-weight: bold;
    border: 1px  solid #151515;
    margin-bottom: 20px;
}

.a-1{
    height: 160px;
}

.award-desc{
    margin: 5px 0 0 15px;
    display: flex;
    flex-direction: row;
    font-size: 17px;
}

.award-desc-inner{
    color: #4d4d4d;
    margin-left: 5px;
    font-weight: normal;
    font-size: 16px;
}

.award-desc2{
    font-weight: normal;
    margin: 5px 0 0 15px;
    font-size: 16px;
}

.award-desc2 a{
    text-decoration: none;
}

.see-all{
    width:100px;
}

.see-all p{
    margin: 0;
    padding: 0;
}
/* ----------------------------- report inaccuracy ----------------------------------- */
.container-inaccuracy{
    width: 100%;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.report-box{
    width: 500px;
    height: 130px;
    border-radius: 20px;
    border: 1px solid #151515;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
}

.report-box:hover{
    transform: scale(1.05);
}

.report-box p{
    color: #151515;
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0 0 15px;
}

.report-btn{
    width: 100px;
    height: 30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color:#00acc1;
    border-radius: 10px;
    border-style: none;
    margin-top: 10px;
    cursor: pointer;
}

.report-btn:hover{
    background-color:  #007180 ;
}