.content-container.active{
    background-color: white;
}

.content-container{
    background-color: #151515;
    /* background-color: red; */
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.content-container-box.active {
    background: rgba(166, 166, 166, 0.5);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05); 
}

.content-container-box{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);        
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.content-container-items{
    /* background-color: pink; */
    width: 400px;
    margin: 30px 0 30px 0;
    text-align: center;
}

.contact-box{
    color: white;
    margin-bottom: 20px;    
}

.contact-box.active{
    color: black;
}

textarea{
    height: 150px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;

    resize: none;
    border: none;
    outline: none;
}

textarea::placeholder{
    font-size: 14px;
    padding-left: 10px;
}
input::placeholder {
    padding-left: 10px ;
    font-size: 14px;
}


.buttons{
    background-color: #00acc1;
    width: 80px;
    height: 40px;
    margin: 15px;
    outline: none;
    border: none;
    border-radius: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    color:  white;
    font-weight: bold;
    font-size: 14px;
}

.buttons:hover{
    background-color: #007180;
}

.error-msg{
    color: #ff1a1a;
    font-size: 14px;
    font-weight: normal;
}

.items {
    position: relative; 
    margin-bottom: 10px;
}

.error-msg {
    position: absolute;
    top: -20px; 
    right: 0;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0; 
    pointer-events: none; 
    visibility: hidden; 
    transform: translateY(10px); 
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s ease 0.3s; 
}

.error-msg.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #4A90E2;
    outline: none;
}
