*{
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.content-container{
    background-color: #151515;
    color: white;
}

/*------------------------------------------ navigation bar ------------------------------------------ */
.navbar {
    width: 100%;
    height: 60px;
    background-color: black;
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.1), 0 8px 24px rgba(255, 255, 255, 0.05);
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;

    font-family: "Roboto", sans-serif;
}

.logo-container{
    flex: 1;
}

.logo-container img{
    width: 100%;
    height: 100%;
    padding-top: 4px ;
}

.menu-container{
    flex: 6;
}

.menu-list{
    display: flex;
    list-style: none;
}

.menu-list-item{
    margin-right: 30px;
    height: 25px;
    text-align: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    position: relative;
    display: inline-block;
}

.menu-list-item:hover{
    transform: scale(1.2);
    font-weight:bold;
    color: #00acc1;  
}
.menu-list-item::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #00acc1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.menu-list-item:hover::after{
    transform: scale(1.2);
    font-weight:bold;  
}

.login-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.login-container-link{
    background-color: #00acc1;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.login-container-link:hover {
    background-color: #007180; 
    transform: scale(1.05) ;
}

.login-container-link .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    align-items: center;
    color: white;
    text-decoration: none;
}

/*------------------------------------------ darkmode slider ------------------------------------------ */

.toggle{
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    margin-left : 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative  ;
}

.toggle-icon{
    color: goldenrod;
}

.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black ;
    position: absolute;
    right: 1px;
    border-radius: 55%;
    cursor: pointer;
    transition: 0.5s ease all;
}

/*------------------------------------------ side nav bar ------------------------------------------ */
.hamburger-button{
    width: 10px;
    margin-right: 25px;
    display: none;
}

.hamburger-button{
    cursor: pointer;
}

.cancel-button{
    right: 0;
    font-size: 20px;
    margin: 20px 0 20px 0;
    cursor: pointer;
}

.sidebar {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    z-index: 1000;
    display: none;
    flex-direction: column ;
    color: white;
    align-items: flex-start;
    justify-items: flex-start;
}

.sidebar li{
    width: 100%;
    list-style: none;

}

.sidebar-list-item{
    margin-top: 30px;
    height: 25px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.sidebar-list-item:hover{
    transform: scale(1.2);
    font-weight:bold;
    color: #00acc1;  
}
.sidebar-list-item::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #00acc1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.sidebar-list-item:hover::after{
    transform: scale(1.2);
    font-weight:bold;  
}

.sidebar-list-topitem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}


/*------------------------------------------ footer ------------------------------------------ */
.footer-container {
    background-color: black;
    width: 100%;
}
  
.footer-container-wrapper {
    width: 50%;
    height: 80%;
    margin: auto;
    text-align: center;
    padding: 20px 0 0 0;
 }

.footer-logo{
    width: 100px;
    height: 100%;
    flex: 6;
    padding: 0 0 5px 0;
}

.footer-links{
    display: inline-block;
    text-decoration: none;
    color: lightgray;
    font-size: 16px;
    padding-right: 10px;

    transition: transform 0.3s ease-out;
}

.footer-copy{
    color: lightgray;
    padding: 10px 0 10px 0;
    font-size: 12px;
}

.footer-container-social{
    margin: 10px;    
}

.footer-links:hover{
    color: #00acc1;
    transform: scale(1.05);
}

/*------------------------------------------ darkmode operation ------------------------------------------ */
.content-container.active{
    background-color: white;
    color: black;
}

.navbar-container.active{
    background-color: white;
    color: black;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}

.sidebar.active {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}

.footer-container.active{
    background-color: #d9d9d9;;
    color: black;
}
.footer-color.active{
    color: black;
}



@media (max-width: 800px){
    .hideOnMobile{display: none;}
    .menu-container{display: none;}
    .logo-container img{
        width: 150px;
        height: auto;
        padding-top: 4px ;
    }
    .hamburger-button{display: block;}
}
@media (max-width: 400px){
    .sidebar{width: 100%;}
}