body {
    background-color: #333333; 
    margin: 0; 
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    text-align: center; 
    color: #b3b3b3;
    font-size:15px;
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#mainbox {
    background-color: #222222; 
    width: 80%; 
    max-width:900px; 
    padding: 20px; 
    margin-top: 40px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

div{
    padding-left: 35px;
    padding-right: 35px;
}

#mainlogo img {
    width: 35%; 
    height: auto;
    margin-top: 25px;
}


#intro{
    margin: 0 0 40px 0;
    color: #999999;
    font-size: 15px;
}

.btns a {
    padding:10px 20px;
    background-color: #00acc1;
    color: #e6e6e6; 
    text-align: center; 
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 18px; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#btn2 {   
    margin:50px 0 50px 0;
}

.btns a:hover {
    background-color: #007c91; 
    transform: scale(1.05);  
    color: #ffffff;         
}

.desc{
    color: #737373;
    margin: 0 0 20px 0;
}

#footer {
    margin: 60px 0 0 0;
}

#footer-top img {
    width: 10%;
    height: auto;
}

#footer-links a{
    text-decoration: none;
    margin: 0 5px 5px 0;
    color: #b3b3b3;
}

#footer-social a{
    margin: 0 5px 5px 0;
    color: #b3b3b3;
}

